header {
    background-color: #1c203b;
}

.navbar-container {
    width: 85%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
}

.nav-item {
    list-style: none;
    margin: 15px;
}

.nav-link {
    color: #fafafa;
    text-decoration: none;
    transition: 0.1s all ease-in;
}

.nav-link:hover, .nav-link:active {
    color: #ed6a5a;
    transition: 0.1s all ease-in;
}

.logo {
    color: #fafafa;
    font-size: 24px;
}

