@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './header.css';
@import './main.css';
@import './footer.css';

/* fafafa 1c203b f9fbf2 ed6a5a 66d7d1 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.container {
    width: 75%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    color: #333;
    transition: 0.1s all ease-in;
}

.btn:hover, .btn:active {
    text-decoration: none;
    color: #ed6a5a;
    transition: 0.1s all ease-in;
}