@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(3, 105, 161);
}

/* general - start */
.button {
    @apply border-2 font-medium uppercase duration-300 px-3 py-1 focus:ring;
}
/* general - end */

/* navbar layout - start  */
.nav {
    @apply bg-gray-200 md:flex justify-between items-center py-4 md:px-10 px-7 text-gray-800 uppercase;
}

.nav-title {
    @apply cursor-pointer font-normal text-3xl md:text-2xl tracking-wider mr-1;
}

.nav-menu {
    @apply md:hidden absolute right-12 top-4 cursor-pointer text-4xl;
}

.nav-list {
    @apply md:flex md:items-center md:pb-0 pb-4 md:static absolute bg-gray-200 md:z-auto z-[-1] left-0 w-full md:w-auto md:pl-0 transition-all duration-300 ease-in-out;
}

.nav-item {
    @apply md:ml-8 md:my-0 my-7 text-center md:text-lg text-xl tracking-wider;
}

/* navbar layout - end  */

/* home layout - start */

.section-title {
    @apply text-2xl my-3;
}

.section-grid {
    @apply grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6;
}

.language-icon {
    @apply text-6xl md:text-7xl p-2 duration-300 hover:bg-sky-600 hover:border-sky-600 hover:text-gray-200 hover:shadow-md border-2 border-gray-500 rounded-lg;
}


/* home layout - end */