$primary: #173f5f;
$secondary: #20639b;
$success: #3caea3;
$warning: #f6d55c;
$danger: #ed553b;
$light: #eeeeee;
$dark: #343434;

$default-font-size: 1rem;
$default-font-weight: 500;
$default-spacing: 1rem;
