---
import Layout from "../pages/about.astro";
---

<Layout title="Welcome to the About page">
  <body>
    <h1>Welcome to <span class="text-gradient">My First Astro site!</span></h1>
    <h1>About Me</h1>
    <h2>... and my new site built with Astro!</h2>
    <p>I'm learning Astro through their intro tutorial</p>
    <a href="/"></a>
    <a href="/about/"></a>
  </body>
</Layout>
